<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/homeStyles.css">
    <title>Document</title>
</head>
<body>

    <div class="header">
        <div class="band-name">
            <h2>MK Gest</h2>
        </div>
        <div class="welcome">
            <p>Welcome</p>
        </div>
        <div class="logout">
            <a href="#" class="bttn">Deconnection</a>
        </div>
    </div>
    <div class="side-bar">
        <ul>
            <li><a href="#"><span>Produits</span></a></li>
            <li><a href="#"><span>Stock</span></a></li>
        </ul>
    </div>

    <div class="container">
        <iframe name="contentFrame" src=""></iframe>
    </div>
</body>
</html>